@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.swiper-container {
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 430px;
  height: 180px;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #116A7B !important;
  /* Custom color for pagination dots */
}

.swiper-pagination-bullet {
  margin-right: 6px;
  cursor: pointer;
}

input[type='range'].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #116A7B;
  cursor: pointer;
}

input[type='range'].slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #116A7B;
  cursor: pointer;
}


.underline-text {
  display: inline-block;
  position: relative;
  color: #116A7B;
  padding-bottom: 10px;
}

.underline-text::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color:
    #116A7B;
}



.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:
    #116A7B;
  opacity: 70%;
  padding-bottom: 9px;
}


.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:
    #116A7B;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Additional styles in your CSS file */
.custom-prev,
.custom-next {
  background-color: #fff;
  /* White background */
  color: #000;
  /* Black text color */
  padding: 8px 16px;
  /* Padding */
  border-radius: 8px;
  /* Rounded corners */
  cursor: pointer;
  /* Pointer cursor on hover */
  margin: 16px 0px;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #ccc;
  /* Light grey background on hover */
}

.leaflet-top, .leaflet-bottom {
  z-index: 0 !important; /* or whatever value you need */
}

.leaflet-pane {
  z-index: 0 !important;
}